<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- Bean of the dependency -->
    <bean id="myDrinkAdvice" class="com.wildcodeschool.myLibrary.models.AdventurousDrinkAdvice">
    </bean>

    <!-- We will define our beans here : -->
    <bean id="theBook" class="com.wildcodeschool.myLibrary.models.ScienceFictionBook">
        <!-- Injection in the constructor : -->
        <constructor-arg ref="myDrinkAdvice"/>
    </bean>
</beans>